.App {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.App-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  color: white;
  background-color: black;
  padding: 10px 10px 10px 50px;
}
